fastapi
uvicorn
supabase==2.5.0
python-dotenv
numpy>=2.0.0
langchain
langchain-openai
langchain-groq
langchainhub
pydantic
pydantic-settings
ruff
httpx
python-jose[cryptography]
passlib[bcrypt]
slowapi
